.text-light{
    font-weight: 400;
}
.card-text{
    font-size: 30px;
}
.card-subtitle{
    font-size: 22px;
}
.style{
    width: 100%;
    flex-wrap: wrap;
}
.card{
    margin-left: 25px;
    margin-bottom: 25px;
}
