<div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="exampleInputEmail1" class="mb-2">Description</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Description" formControlName="description">
        </div>
        <div class="form-group  mt-4">
            <label for="exampleInputPassword1" class="mb-2">Short Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                formControlName="shortDescription"></textarea>
        </div>
        <div class="btn-div">
            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </form>
</div>