<div class="mb-2">
    <button routerLink='create-trainings' type="button" class="btn btn-success">Add</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="id">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col" class="text-end id"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let training of trainings">
            <th class="id">{{training.id}}</th>
            <td>{{training.name}}</td>
            <td>{{training.description}}</td>
            <td>
                <!-- <img src= {{url}} {{training.mediaFiles?.path}} alt=""> -->
                <img src="{{url}}{{training.mediaFiles?.path}}" alt="">
            </td>
            <td class="text-end id">
                <a (click)="edit(training.id)">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>