<div class="mb-2">
    <button routerLink='/main-layout/create-vacancies' type="button" class="btn btn-success">Add</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="id">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Short Description</th>
            <th scope="col" class="text-end id"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacancie of vacancies">
            <th class="id">{{vacancie.id}}</th>
            <td>{{vacancie.description}}</td>
            <td>{{vacancie.shortDescription}}</td>
            <td class="text-end id">
                <a (click)="edit(vacancie.id)">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a (click)="deleteVacancy(vacancie.id)">
                    <i class="fa-solid fa-trash" style="color: red;"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>