<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="formValidation">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus
                formControlName="email">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                formControlName="password">
            <div id="password-help-block" class="form-text" *ngIf="showErrors()" [class.errors]="showErrors()">
                Email and password are required.
            </div>
            <div class="form-text" *ngIf="usertExist()" [class.errors]="usertExist() === false">
                Email or password is wrong.
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()" routerLink="/main-layout">Login</button>
        </form>
    </div>
</div>