table{
    border-collapse: collapse;
    vertical-align: middle; 
}
td, th{
    width: 2%;
}
.id{
    width: .5%;
}
i{
    margin-right: 10px;
}

a{
    cursor: pointer;
}
img{
    width: 80px;
    height: 80px;
}