<div style="width: 100%;">
    <div>
        <div class="text-right">
            <button type="button" class="btn btn-success" (click)="isEdit()">Edit</button>
        </div>
        <div class="img_div">
            <img src="../../assets/images/blank-profile-picture-973460_1280.webp" alt="Profile image">
        </div>
    </div>
    <div class="form_div">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                    formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="last name"
                    formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Phone Number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+374 55 65 75 85"
                    formControlName="phone">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                    formControlName="email">
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-success mt-3" (click)="isSaved()"
                    [disabled]="form.dirty === false">Save</button>
            </div>
        </form>
    </div>
</div>