.block{
    width: 50%;
    display: flex;
}
.img-div{
    width: 90%;
    flex-wrap: wrap;
}
img{
    width: 100%;
}
.img{
    width: 31%;
    display: flex;
}
.img img{
    margin-right: 10px;
    height: 100px;
}
.info{
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
}

.text-right{
    text-align: right;
}
.first_block{
    width: 80%;
}
.btn-success{
    padding: 15px 20px;
    width: 120px;
}